.box {
    height: 100px;
    background: linear-gradient(to right, rgb(236, 159, 5), rgb(255, 78, 0));
    color: rgb(255, 255, 255);
    display: flex;                
    align-items: center;
    padding: 0 10px;
    border: solid 1px black;
}

#searchbar{ 
    width: 300px;
    padding: 5px;                 
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 6px;
    font-size: 12px;
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.iGWCX9X7dPCTs4YhIGA0qwHaIA&pid=Api&P=0&h=220);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 10px;
}

h1{
    display: flex;                
    align-items: center;          
    gap: 10px;  
}

#dp {
    margin-left: auto;           
    max-width: 100%;              
    height: 30px;
}

body{
    background-color: rgb(255, 78, 0);
}

.cover_area{
    background-color:transparent;
    min-height: 400px;
    width: 800px;
    margin: auto;
}

.cover_page{
    background-color:transparent;
    text-align: center;
    color: white;
}

#prof_pic{
    width: 150px;
    margin-top: 170px; 
    border-radius: 50%;
    border: solid 2px black;
}

#name{
    font-size: 30px;
}

.buttons{
    display: flex;             /* Enable flexbox */
    justify-content: center;   /* Center buttons horizontally */
    gap: 20px; 
    background-color: black;
}

.menu_buttons{
    width: 100px;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;        /* Rounded corners for buttons */
    cursor: pointer;
}

.center_container{
    background-color: green;
    min-height: 400px;
    flex: 2.5;
}

.left_container{
    background-color: blue;
    min-height: 400px;
    flex: 1;
}

.right_container{
    background-color: white;
    min-height: 400px;
    flex: 1.5;
}